<!-- 作成者：岩崎・古越・藤谷 -->
{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | 講座選択{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
  <style>
    table{
      text-align:center;
      position: relative;
      left:30%;
      top: 10px;
    }
    th{
      width: 150px;
    }
    td{
      width: 0px;
    }
    h1{
      position: fixed;
      top: 70px;
      left: 95px;
     }
     .superform{
       position: fixed;
       top: 140px;
       left: 100px;
     }
     .superform2{
       position: fixed;
       top: 190px;
       left: 50px;
     }
     table tr td:nth-of-type(2){
       width: 550px;
     }
     table tr td:nth-of-type(3){
       width: 100px;
     }
     .btnc{
       width:80px;
       height:35px;
       background:rgb(0,206,209);
       border-radius:35px;
       cursor : pointer;
       font-family: cursive, 'Noto Sans JP', sans-serif;
     }
     .superform2{
       margin: 0.5em 0;
       padding: 0.5em 1em;
       border: double 5px #4ec4d3;
     }
     .superform2 input{
       width: 100px;
       background-color: rgb(0,206,209);
       padding: 2px;
       margin: 2px;
     }
     .superimg2{
       position: absolute;
       top: auto;
       right: 8px;
     }
     .superimg1{
       position: absolute;
       top: auto;
       right: 8px;
     }
     table tr td:nth-of-type(4){
       width: 40px;
    }
  </style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <form action="{% url 'skillswap:course-selection' %}" method="GET" class="superform">
            {% csrf_token %}
            <h1>講座選択</h1>
            <input type="submit" value="新着順" name="new">
            <input type="submit" value="投稿順" name="old">
            <input type="submit" value="人気順" name="popular">
            <input type="hidden" value="{{ q }}" name="q">
        </form>


        <form action="{% url 'skillswap:course-selection' %}" method="GET" class="superform2">
            {% csrf_token %}
            <h2>言語、環境で探す</h2>
            <ul>
                <li><input type="submit" value="すべて"></li>
                <li><input type="submit" value="Java" name="q"></li>
                <li><input type="submit" value="C言語" name="q"></li>
                <li><input type="submit" value="C++" name="q"></li>
                <li><input type="submit" value="C#" name="q"></li>
                <li><input type="submit" value="JavaScript" name="q"></li>
                <li><input type="submit" value="PHP" name="q"></li>
                <li><input type="submit" value="Python" name="q"></li>
                <li><input type="submit" value="Ruby" name="q"></li>
                <li><input type="submit" value="SQL" name="q"></li>
                <li><input type="submit" value="Windows" name="q"></li>
                <li><input type="submit" value="macOS" name="q"></li>
                <li><input type="submit" value="Linux" name="q"></li>
            </ul>
        </form>

        {% if object_list %}
        <table border="1">
        {% for course in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'skillswap:course-detail' course.user_id_id %}">
                        {% if course.course_img %}
                        <img class="superimg" src="{{ course.course_img.url }}" width="120" height="120"/>
                        {% else %}
                        <img class="superimg" src="{% static 'assets/sample.png' %}" width="120" height="120"/>
                        {% endif %}
                        </a>
                    </td>
                    <th>
                        <a href="{% url 'skillswap:course-detail' course.user_id_id %}">
                        {{ course.title }}
                        </a>
                    </th>
                    <td>
                        <a href="{% url 'skillswap:course-detail' course.user_id_id %}">
                        {{ course.detail }}
                        </a>
                    </td>
                    <td><a href="{% url 'skillswap:request-application' course.pk %}"><button  class="btnc" >依頼申請</button></a></td>
                    <td>
                        <a href="{% url 'skillswap:favorite' course.pk %}"><img class="superimg1" src="{% static 'assets/favo2.png' %}" alt="favorite" height ="30" width="30"></a>
                        {% for favo in course.favorite_set.all %}
                        {% if favo.user_id_id == user.id %}
                        {% if course.pk == favo.course_id_id %}
                        <a href="{% url 'skillswap:favorite' course.pk %}"><img class="superimg2" src="{% static 'assets/favo.png' %}" alt="favorite" height ="30" width="30"></a>
                        {% else %}
                        <a href="{% url 'skillswap:favorite' course.pk %}"><img class="superimg" src="{% static 'assets/sample.png' %}" alt="favorite" height ="30" width="30"></a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}

        </table>
        {% else %}
        <p>条件に合う講座がありません。</p>
        {% endif %}
    </div>
</div>
{% endblock %}