<!-- 作成者：岩崎・古越・藤谷 -->
{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | お問い合わせ完了{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
  <style>
    p{
      text-align:center;
    }
    .btn{
      margin: 15px;
    }
    h1{
      text-align:left;
      margin: 0;
      padding: 0;
      padding-left:100px;
      padding-bottom:15px;
      border-bottom:3px double blue;
      width: 1300px;
	  margin-left: auto;
	  margin-right: auto;
    }
    textarea{
      border: 2px solid black;
      margin: 25px;
    }
    th{
      border: 2px solid black;
      margin: 25px;
    }
    td{
      border: 2px solid black;
      margin: 25px;
    }
    .table{
      width: 35%;
      height: 40%;
      border: 2px solid black;
      margin: 25px;
    }
  </style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div align="center">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <h1>お問い合わせフォーム</h1>
                <div align="center">
                    <p>お問い合わせありがとうございました。数日以内に担当者から返信させていただきます。</p>
                    <p>今後ともSKILLSWAPをよろしくお願いいたします。</p>
                    <br>
                    <p>※内容によっては、お答えできない場合がございます。</p>
                    <a href="{% url 'skillswap:index' %}">戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}