{% extends 'mypage.html' %}
{% load static %}

{% block title %}SKILLSWAP | マイ講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<!--<style>-->
<!--    table{-->
<!--      left:20%;-->
<!--    }-->
<!--</style>-->
<style>
    .btn1{
      width:80px;
      height:35px;
      background:rgb(0,206,209);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
    }
    .a3{
      position: relative;
      top: -50px;
      left: 80%;
    }
    .img1{
      width: 170px;
      height: 170px;
      position: absolute;
      top:22.5%;
      left:4%;
      z-index: -1;
    }
    .myimg{
      top: 57%;
      left:20%;
    }
    .choice{
        font-family: cursive, 'Noto Sans JP', sans-serif;
        margin: 0px 0px 0px 60px;
    }
    .choice1{
       margin: 0px 0px 60px 0px;
    }
    table{
      position: absolute;
      left:35.5%;
      top:45%;
    }
    .btn2{
      width:80px;
      height:35px;
      background:rgb(0,206,209);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 1200px;
      position: absolute;
      top:80%;
    }
    .wbtn{
      width:80px;
      height:35px;
      background:rgb(0,206,209);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: relative;
      top: 80%;
      left: 77.8%;
      margin: 15px;
    }
    .myinfo{
      padding: 0px;
    }
    th{
      width:  250px;              /* 幅指定 */
      height: 80px;
      font-size: 20px;
    }
    td{
      width:  400px;              /* 幅指定 */
      height: 169px;
      font-size: 20px;
      position: sticky;
    }
    .container{
      padding: 40px 0px 0px 0px;
    }
    .wbtn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: absolute;
      top: 50%;
      left: 47%;
    }
    th{
       width: 300px;
    }
    table tr td:nth-of-type(1){
       width: 575px;
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div class="myinfo">
    {% for course in course_list %}
    <table border="1">
        <tr>
            <th>{{ course.title }}</th>
            <td>{{ course.detail }}</td>
            {% if course.course_img %}
            <img class="myimg" src="{{ course.course_img.url }}" width="170" height="170"/>
            {% else %}
            <img class="myimg" src="{% static 'assets/sample.png' %}" width="170" height="170"/>
            {% endif %}
        </tr>
    </table>
    <a href="{% url 'skillswap:my-course-update' course.pk %}"><button class="wbtn">編集</button></a>
    {% empty %}
    <p>マイ講座を作成してください。</p>
    <button class="wbtn"><a href="{% url 'skillswap:my-course-create' %}">作成</a></button>
    {% endfor %}
<!--        <a href="{% url 'skillswap:skillseat-browse' %}">戻る</a>-->
</div>
{% endblock %}