{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!--  mystyle  -->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        {% block head %}{% endblock %}
        <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
<!--        書いてること同じ-->
<!--        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">-->
<!--        <link rel="icon" href="{% static 'img/favicon.ico' %}">-->
        <style>
            .taikai{
                color: white;
            }
        </style>
    </head>

    <body>
        <header>
<!--            <h1 class="headline">-->
<!--                <a>SKILLSWAP</a>-->
<!--            </h1>-->
            <nav id="global_navi">
                <ul>
                    {% if user.is_authenticated %}
                    <li class="current">
                        <a href="{% url 'skillswap:course-selection' %}">
                            <img src="{% static 'assets/logo.png' %}" alt="home" width="135" height="56">
                        </a>
                    </li>
                    {% else %}
                    <li class="current">
                        <a href="{% url 'skillswap:index' %}">
                            <img src="{% static 'assets/logo.png' %}" alt="home" width="135" height="56">
                        </a>
                    </li>
                    {% endif %}


                    <form class="headerform" action="{% url 'skillswap:course-selection' %}" method="GET">
                        {% csrf_token %}
                        <input type="search" name="q" placeholder="検索ワード">
                        <button type="submit">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </form>

                    {% if user.is_authenticated %}
                    <a class="infomation" href="{% url 'skillswap:request-received' %}">
                        <img src="{% static 'assets/news.png' %}" alt="news" width="37" height="37">
                    </a>
                    {% endif %}

                    <select class="select1" name="sampledrop" onChange="location.href=value;">
                        <img src="sample.png" alt="home" width="135" height="55">
                        <option>--選択--</option>
                        <option value="{% url 'skillswap:inquiry' %}">お問い合わせ</option>
                        {% if user.is_authenticated %}
                        <option value="{% url 'skillswap:skillseat-browse' %}">マイページ</option>
                        <option value="{% url 'skillswap:search_user' %}">チャット</option>
                        <option value="{% url 'account_logout' %}">ログアウト</option>
                        {% else %}
                        <option value="{% url 'account_login' %}">ログイン</option>
                        {% endif %}
                    </select>
                </ul>
            </nav>
            {% block header %}{% endblock %}
        </header>

        <div class="container" xmlns="http://www.w3.org/1999/html">
            <div class="daily">
                {% if skillseat_list %}
                {% for skillseat in skillseat_list %}
                {% if skillseat.user_img %}
                <img class="img1" src="{{ skillseat.user_img.url }}" width="120" height="120"/>
                {% else %}
                <img class="img1" src="{% static 'assets/sample.png' %}" width="120" height="120"/>
                {% endif %}

                <div class="info">
                    <h2>
                        <span class="cl1">名前：{{ skillseat.user_name }}</span>
                        <span class="cl2">性別：{{ skillseat.gender }}</span>
                        <span class="cl3">生年月日：{{ skillseat.birthday }}</span>
                    </h2>
                    {% if skillseat.user_evaluation %}
                    <h2>評価
                        <span class="star5_rating" data-rate="{{ skillseat.user_evaluation }}"></span>
                        <span class="small-span">星{{ skillseat.user_evaluation }}</span>
                    </h2>
                    {% else %}
                    <h2>評価なし</h2>
                    {% endif %}
                    <a class="a3" href="{% url 'skillswap:skillseat-update' skillseat.pk %}"><button class="btn1" >編集</button></a>
<!--                    退会処理できるけど使ってない -->
                    <a href="{% url 'skillswap:my-suspension' skillseat.user_id_id %}" class="taikai">,</a>
                    <a href="{% url 'skillswap:my-review' %}" class="taikai">.</a>
                </div>
                {% endfor %}
                {% else %}
                <div class="info">
                    <h2>アカウント情報を作成してください。</h2>
                    <h2>　</h2>
                    <a class="a3" href="{% url 'skillswap:skillseat-create' %}"><button class="btn1">作成</button></a>
                </div>
                {% endif %}
            </div>

            <div class="choice">
                <a class="choice1" href="{% url 'skillswap:skillseat-browse' %}">| スキルシート</a><br>
                <br>
                <a class="choice1" href="{% url 'skillswap:my-course' %}">| マイ講座</a><br>
                <br>
                <a class="choice1" href="{% url 'skillswap:profile-text' %}">| プロフィール</a><br>
                <br>
                <a class="choice1" href="{% url 'skillswap:favorite-list' %}">| お気に入りの講座</a><br>
                <br>
                <a class="choice1" href="{% url 'skillswap:requested-course' %}">| 依頼済みの講座</a><br>
                <br>
                <a class="choice1" href="{% url 'skillswap:attendance-history' %}">| 講座受講履歴</a><br>
            </div>

            {% block contents %}{% endblock %}
        </div>

        <footer>
            <small>&copy; 2022 SKILLSWAP</small>
        </footer>
    </body>
</html>